* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.header {
    background-color: cornflowerblue;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background: cornflowerblue;;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.pointer{
    cursor: pointer;
}
.aside {
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    height:80%;
}
.border{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid lightgray;    border-radius: 5px;
}
.footer {
    background: cornflowerblue;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
.center{
  margin-top:35%;
}
.input-text{
  font-size: 26px;
  font-weight: bold;
}
.inputCounter{
  height:30px;
  width:15%;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;height:80%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.marginleft{
  margin-left:10%;
}
.marginright{
  margin-right:10%;
}
.marginTop{
  margin-top:1%;
}
.chat {
   animation: animationFrames 1s infinite;
   background-color: rgb(255, 102, 255);
}
.height{
  height:450px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .col-1{
      width: 33%;
      margin-top:0%;
    }
    .col-3{
      padding-top:0%;
      height:30%;
    }
    .marginright{
      margin-right: 0%;
    }
    .marginleft{
      margin-left: 0%;
    }
    .marginTop{
      margin-top:0%;
    }
    .aside{
      height:100%;
    }
    .height{
      height:300px;
    }
    .center{
      margin-top: 1%;
    }
    .inputCounter{
      height:30px;
      width:50%;
    }
}
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px){
  .col-1{
    width: 13%;
    margin-top:0%;
  }
}
